{% extends 'index.html' %}

{% block content%}
<link href="/static/register.css" rel="stylesheet">

<div class="row">
<form action="" method="POST">
    {% csrf_token %}
    <div class="form" style="height: 750px;">
        <p style="color: black;">PARTNERSHIP FORM</p>
        {{msg}}
    <input type="text" name="name" placeholder="name" >
    <input type="email" name="email" placeholder="Email id">
    <input type="text" name="courtname" placeholder="Court Name" >
    
   
    <select name="sportstype" class="">

       <option value>Choose Sport Type</option>
       <option value="Football">Football</option>
       <option value="Cricket">Cricket</option>
       <option value="Badminton">Badminton</option>
       <option value="Volleyball">Volleyball</option>
       <option value="Basketball">Basketball</option>
       <option value="Gym">Gym</option>
    </select>
    <input type="number" name="contactnumber" placeholder="Contact Number">
    <input type="number" name="bookingnumber" placeholder="Booking Number">
    <input type="text" name="location" placeholder="Location">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="cpassword" placeholder="confirm Password">
    <button type="submit" class="btn btn-success" >Submit</button><br>

    Already have an account? <a href="{% url 'owners:owelogin' %}">Login</a>
    
    </form>
    
    </div>
</div>

{% endblock %}
    
    
