{% extends 'index.html' %}

{% block content%}

<div class="row">
    <div class="form" style="height: 700px;">
        <p>PARTNERSHIP FORM</p>
        <form>
    <input type="text" name="name" placeholder="name">
    <input type="email" name="email" placeholder="Email id">
    <input type="text" name="courtname" placeholder="Court Name">
    <input type="password" name="password" placeholder="Password">
   
    <select name="sport-type" class="">

       <option value>Choose Sport Type</option>
       <option value="Football">Football</option>
       <option value="Cricket">Cricket</option>
       <option value="Badminton">Badminton</option>
       <option value="Volleyball">Volleyball</option>
       <option value="Basketball">Basketball</option>
       <option value="Gym">Gym</option>
    </select>
    <input type="number" name="contactnumber" placeholder="Contact Number">
    <input type="number" name="bookingnumber" placeholder="Booking Number">
    <input type="text" name="location" placeholder="Location">
    <button type="button" class="btn btn-success">Submit</button>
    </form>
    </div>
</div>

{% endblock %}
    
    
