

/* .first{
    background-color: cadetblue;
    width: 100%;
    height: 50px;
} */

.propic{
    width: 240px;
    height:40px;
     margin-top: 20px;
    margin-left: 120px;
    margin-bottom:20px;
    
   
}

.footer{
    background-color: cadetblue;
    width: 100%;
}
