.page1{
    background-color: rgb(73, 175, 47);
    
}
.page2{
    background-color: black;
}
p{
    color: blanchedalmond;
}

.log{
    text-transform: uppercase;
    text-decoration: none
    
        
      
    
}
/* button:hover {
    background-color: rgb(80, 74, 74);
  } */
  .links{
    align-items: center!important;
    
  }
  /* footer{
      padding: 15px;
      
  }
  .container{
      padding-bottom: 30px;
  } */
  .homebody{
      padding: 20px;
  }
