.page1{
    background-color: rgb(73, 175, 47);
    
}
.page2{
    background-color: black;
}


.log{
    text-transform: uppercase;
    text-decoration: none
    
        
      
    
}

.links{
    align-items: center!important;
    
  }
  
.homebody{
      padding: 20px;
  }
