body{
    padding: 0;
    margin: 0;
   
    background-size: cover;
}
.form p{
    font-size: 15px;
    padding: 8px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.form{
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 1;
    background:#FAFAFA;
    opacity: 100%;
    max-width: 300px;
    /* height: 300px; */
    margin: 200px auto 100px;
    padding: 10px 45px 30px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 15px;

}
.form input{
    outline: 0;
    border-radius: 10px;
    background-color:#EBF7F2 ;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
select{
    outline: 0;
    border-radius: 10px;
    background-color:#EBF7F2 ;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    
    box-sizing: border-box;
    font-size: 14px; 
}



