

{% extends 'index.html' %}

{% block content%}
<link href="/static/login.css" rel="stylesheet">
<script src="/static/login.js"></script>

   
    <div class="form">
    <p class="login" style="color: black;">Login</p>
    <form>
<input type="text" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<button>Login</button>
<p class="message">Register now..! <a href="{% url 'app:signup' %}">Create an account</a></p>
    </form>
</div>
{% endblock %}

