{% extends 'index.html' %}
{% block content %}
{% load static %}
    <link href="/static/register.css" rel="stylesheet">
    <script src="/static/js/signup.js"></script>
    

    <div class="row">
        <div class="form">
            <p style="color: black;">
                SIGNUP
            </p>
            <form method="POST" action="" onsubmit="return validate()">
                {% csrf_token %}
                <input type="text" id="name" placeholder="name" name="name">
                <span id="name_err"></span>
                <input type="email" id="email" placeholder="Email id" name="email">
                <span id="email_err"></span>
                <input type="number" id="phno" placeholder="phone number" name="phone">
                <span id="ph_err"></span>
                
                <input type="radio" id="genter" name="genter" value="male" checked="true">
                <label for="genter">MALE</label>
                <input type="radio" id="genter" name="genter" value="female">
                <label for="female">FEMALE</label>
                <input type="password" id="password" placeholder="Password" name="password">
                <span id="psw_err"></span>
                <input type="password" id="cpsw" placeholder="Confirm password" name="cpassword">
                <span id="cpsw_err"></span>
                <button class="btn btn-success">Submit</button>
                {{msg}}
            </form>
        </div>
    </div>

   


  
    
{% endblock %}
