{% extends "index.html" %}
{% block content %}
<div class="container-fluid"  style="min-height: 500px;">
    <div class="row" >
        <table class="table" style="margin-top: 40px;">
            <thead>
              <tr>
                <th scope="col">Booking ID</th>
                <th scope="col">Turf Name</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Type</th>
                <th scope="col">Location</th>
                <th scope="col">Time</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Payment</th>
                <th scope="col">Balance</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            {% for b in booking %}
              <tr>
                <th scope="row">{{b.id}}</th>
                <td>{{b.turf_id.owner_id.court_name}}</td>
                <td>{{b.turf_id.owner_id.booking_no}}</td>
                <td>{{b.turf_id.owner_id.sports_type}}</td>
                <td>{{b.turf_id.owner_id.location}}</td>
                <td>{{b.time}}</td>
                <td>{{b.date}}</td>
                <td>{{b.status}}</td>
                <td>{{b.payment}}</td>
                <td>{{b.payment}}</td>
                <td><a  class="btn btn-warning  btn-sm "href="{% url 'app:cancel' b.id %}">Cancel</a></td>
                  
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
</div>
{% endblock %}